

.bi7CheckboxList input {
    opacity: 0;
    position: absolute;   
}

.bi7CheckboxList input, .bi7CheckboxList label {
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    cursor: pointer;
}

.bi7CheckboxList label {
    position: relative;
}

.bi7CheckboxList input + label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;

}

.bi7CheckboxList input:checked + label:before {
    content: "✓";
    font-family: 'Arial';
    background: #fff;
    color: #468847;
    border-color:#ddd;

}

body .bi7Form .bi7CheckboxList > label {
    margin-left:0;
}

.bi7CheckboxListNo input {
    opacity: 0;
    position: absolute;   
}

.bi7CheckboxListNo input, .bi7CheckboxListNo label {
    display: inline-block;
    vertical-align: middle;
    margin: 1px;
    cursor: pointer;
}

.bi7CheckboxListNo label {
    position: relative;
}

.bi7CheckboxListNo input + label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 12px;
}

.bi7CheckboxListNo input:checked + label:before {
    content: "✗";
    font-family: 'Arial';
    background: #eee;
    color: #b94a48;
    border-color:#eee;
}

body .bi7Form .bi7CheckboxListNo > label {
    margin-left:0;
}


